<div class="container booking">
  <div class="booking__passengers passengers">
    <!-- prettier-ignore -->
    @@include('src\components\booking\parts\passengers.html', {"another": false})
  </div>
  <div class="booking__tickets-list">
    <!-- prettier-ignore -->
    @@include('src\components\booking\parts\ticket.html', {"type": "there", "another": false})
    <!-- prettier-ignore -->
    @@include('src\components\booking\parts\ticket.html', {"type": "back", "another": false})
  </div>
</div>
