<div class="passengers__total">
  <span class="passengers__total-icon --passengers-old">
    <svg class="svg-icon-use">
      <use xlink:href="./images/sprite-mono.svg#icon-mono_passengers-old"></use>
    </svg>
  </span>

  <span class="passengers__total-quantity">3</span>

  <span class="passengers__total-label">Пассажира</span>
</div>

<ul class="passengers__list">
  <li class="passengers__item">
    <span class="passengers__item-quantity">1</span>

    <span class="passengers__item-icon --adult">
      <svg class="svg-icon-use">
        <use
          xlink:href="./images/sprite-mono.svg#icon-mono_passengers-adult"
        ></use>
      </svg>
    </span>

    <span class="passengers__item-label">Взрослый</span>
  </li>

  <li class="passengers__item">
    <span class="passengers__item-quantity">1</span>

    <span class="passengers__item-icon --children">
      <svg class="svg-icon-use">
        <use
          xlink:href="./images/sprite-mono.svg#icon-mono_passengers-children"
        ></use>
      </svg>
    </span>

    <span class="passengers__item-label">Ребенок</span>
  </li>

  <li class="passengers__item">
    <span class="passengers__item-quantity">1</span>

    <span class="passengers__item-icon --baby">
      <svg class="svg-icon-use">
        <use
          xlink:href="./images/sprite-mono.svg#icon-mono_children-baby"
        ></use>
      </svg>
    </span>

    <span class="passengers__item-label">Младенец</span>
  </li>
</ul>
