<article class="ticket --@@type @@if ( another === true ) {--another}">
  <div class="ticket__content @@if ( another === true ) {--another}">
    <!-- prettier-ignore -->
    @@if (type === 'there') {
      @@if ( another === true ) {
        @@loop('src\components\booking\parts\ticket-row-another.html', "components\booking\data\data-there.json")
      }
      @@if ( another === false ) {
        @@loop('src\components\booking\parts\ticket-row.html', "components\booking\data\data-there.json")
      }
    }

    <!-- prettier-ignore -->
    @@if (type === 'back') {
      @@if ( another === true ) {
        @@loop('src\components\booking\parts\ticket-row-another.html', "components\booking\data\data-back.json")
      }
      @@if ( another === false ) {
        @@loop('src\components\booking\parts\ticket-row.html', "components\booking\data\data-back.json")
      }
    }
  </div>
  <div class="ticket__side column-side @@if ( another === true ) {--another}">
    <!-- prettier-ignore -->
    @@include('src\components\booking\parts\column-side.html', {"type": "@@type", "another": @@another})
  </div>
</article>
